@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#header1-1 H1 {
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
  text-align: left;
}
#header1-1 P {
  font-family: 'PT Sans', sans-serif;
  color: #ffffff;
  font-size: 21px;
}
#features1-r .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#ext_menu-j .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-j.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-j .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-t .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__section {
  background: #79b1b8;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-u .mbr-section-title .mbr-header__text {
  font-size: 16px;
  text-align: left;
}
